name: Reusable Build & Push

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      dockerfile_context:
        required: true
        type: string
    secrets:
      AWS_ROLE_ARN:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push Image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: enterprise-gitops/${{ inputs.service_name }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          # Build
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ${{ inputs.dockerfile_context }}

          # Push
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

          # Output Image URI
          echo "IMAGE_URI=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.login-ecr.outputs.registry }}/enterprise-gitops/${{ inputs.service_name }}:${{ github.sha }}"
          format: "table"
          exit-code: "0" # Don't fail for now, just report
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
